body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black; /* Set background to black */
    cursor: url('https://i.imgur.com/c8Lwbvi.png'), auto;
}

.content {
    width: 100%;
    text-align: center;
    padding: 40px; /* Adds padding to all sides */
}

.content img {
    width: 40%; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

.content .description, .content .analysis {
  color: white; /* Makes the text color white */
  font-family: 'Hedvig Letters Serif', serif;
  margin: 10px auto; /* Adjust margin as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 20px; /* Add some padding on the sides */
}

.content .description {
  font-size: 14px; /* Smaller font size for description */
  margin: 0 0 20px 0;
}

.hedvig-letters-serif-unique {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.content .analysis {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 20px;
  color: white;
  line-height: 2.25;
  margin: 0 0 20px 0;
  /* Creating a black outline effect */
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

/* This styles the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #363636; /* Adjust the color of the scrollbar handle */
  border-radius: 5px; /* Optional: Round corners for the scrollbar handle */
}

/* This styles the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* Color of the scrollbar handle on hover */
}

.centered-button {
  background-color: rgba(0, 0, 0, 0.5); /* No background */
  color: white; /* Text color */
  text-decoration: underline; /* Underlines the text */
  border: none; /* No border */
  padding: 5px 18px;
  display: inline-block;
  font-size: 40px;
  font-weight: bold; /* Makes the text bold */
  cursor: pointer; /* Changes the cursor on hover */
  font-family: "Hedvig Letters Serif", serif;
  border-radius: 8px;

  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.centered-button:hover {
  background-color: transparent;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button-container {
  display: flex;
  justify-content: space-between; /* Aligns children (buttons) to opposite ends */
  padding: 0 20px; /* Horizontal padding */
}