<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
</head>
<body>
  <div class="content">
    <img src="blacktoe.png">
    <p class="description">
      <br>
      <br>
      <br>
      The object displayed is the Air Jordan 1 High Fragment, a highly coveted sneaker collaboration between Jordan and Hirsohi Fujiwara's Fragment Design.
      This shoe is known for its minimalist color scheme, integrating black, white, and royal blue. The design is constructed from a premium leather, with
      a black and white base following blue overlays at the heel and ankle collar. The sneaker contains Fragment Design's signature lightning bolt embossed on
      the  heal. This is the fusion of traditional Jordan aesthetics with contemporary design elements.
    </p>
    <p class="analysis">
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp; TODO
    </p>
     <div class="button-container">
      <a href="../redtoe/timeline.html" class="centered-button"> ->Back to Black Toe<- </a>
      <a href="../spiderverse/spider.html" class="centered-button"> ->Go to Spider-Verse<- </a>
    </div>
  </div>

</body>
</html>
